<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Reservation</display-name>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>controller.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  <display-name>turbo-octo-robot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCon</display-name>
    <servlet-name>LoginCon</servlet-name>
    <servlet-class>controller.LoginCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCon</servlet-name>
    <url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMypageServlet</display-name>
    <servlet-name>UserMypageServlet</servlet-name>
    <servlet-class>controller.UserMypageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMypageServlet</servlet-name>
    <url-pattern>/UserMypageServlet</url-pattern>
  </servlet-mapping>
</web-app>