<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>ReservationListCon</display-name>
    <servlet-name>ReservationListCon</servlet-name>
    <servlet-class>controller.ReservationListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationListCon</servlet-name>
    <url-pattern>/ReservationListCon</url-pattern>
  </servlet-mapping>
  <display-name>turbo-octo-robot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReservationViewCon</display-name>
    <servlet-name>ReservationViewCon</servlet-name>
    <servlet-class>controller.ReservationViewCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationViewCon</servlet-name>
    <url-pattern>/ReservationViewCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myReservationList</display-name>
    <servlet-name>myReservationList</servlet-name>
    <servlet-class>controller.myReservationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myReservationList</servlet-name>
    <url-pattern>/myReservationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationDelete</display-name>
    <servlet-name>ReservationDelete</servlet-name>
    <servlet-class>controller.ReservationDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationDelete</servlet-name>
    <url-pattern>/ReservationDelete</url-pattern>
  </servlet-mapping>
</web-app>