<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>controller.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>turbo-octo-robot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CustomerListServlet</servlet-name>
    <servlet-class>controller.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListServlet</servlet-name>
    <url-pattern>/CustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserConfirmationServlet</display-name>
    <servlet-name>UserConfirmationServlet</servlet-name>
    <servlet-class>controller.UserConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConfirmationServlet</servlet-name>
    <url-pattern>/UserConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCompletionServlet</display-name>
    <servlet-name>UserCompletionServlet</servlet-name>
    <servlet-class>controller.UserCompletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCompletionServlet</servlet-name>
    <url-pattern>/UserCompletionServlet</url-pattern>
  </servlet-mapping>
</web-app>